html {
  font-family: "Permanent Marker", cursive;
}

h1,
body {
  margin: 0 auto;
}

header {
  height: 10vh;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 85vh;
  width: 80vw;
  margin: 0 auto;
}
.block {
  flex-grow: 1;
  flex-shrink: 1;
}

.row {
  background: aqua;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
